{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name idle-state,
   :params [],
   :result
   [:variant
    :kami.fsm/player-state-v1
    [[:idle :i64] [:move :i64] [:jump :i64]]],
   :effects #{},
   :body
   (variant-new
    [:variant
     :kami.fsm/player-state-v1
     [[:idle :i64] [:move :i64] [:jump :i64]]]
    :idle
    0),
   :param-types []}
  {:name move-state,
   :params [],
   :result
   [:variant
    :kami.fsm/player-state-v1
    [[:idle :i64] [:move :i64] [:jump :i64]]],
   :effects #{},
   :body
   (variant-new
    [:variant
     :kami.fsm/player-state-v1
     [[:idle :i64] [:move :i64] [:jump :i64]]]
    :move
    0),
   :param-types []}
  {:name jump-state,
   :params [],
   :result
   [:variant
    :kami.fsm/player-state-v1
    [[:idle :i64] [:move :i64] [:jump :i64]]],
   :effects #{},
   :body
   (variant-new
    [:variant
     :kami.fsm/player-state-v1
     [[:idle :i64] [:move :i64] [:jump :i64]]]
    :jump
    0),
   :param-types []}
  {:name advance-player-v1,
   :params [state events],
   :result
   [:variant
    :kami.fsm/player-state-v1
    [[:idle :i64] [:move :i64] [:jump :i64]]],
   :effects #{},
   :body
   (if
    (typed-set-contains [:set :keyword] events :jumping)
    (jump-state)
    (variant-match
     [:variant
      :kami.fsm/player-state-v1
      [[:idle :i64] [:move :i64] [:jump :i64]]]
     state
     [[:idle
       ignored
       (if
        (typed-set-contains [:set :keyword] events :moving)
        (move-state)
        (idle-state))]
      [:move
       ignored
       (if
        (typed-set-contains [:set :keyword] events :still)
        (idle-state)
        (move-state))]
      [:jump
       ignored
       (if
        (typed-set-contains [:set :keyword] events :moving)
        (move-state)
        (if
         (typed-set-contains [:set :keyword] events :still)
         (idle-state)
         (jump-state)))]])),
   :param-types
   [[:variant
     :kami.fsm/player-state-v1
     [[:idle :i64] [:move :i64] [:jump :i64]]]
    [:set :keyword]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [idle-state move-state jump-state advance-player-v1],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
